
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# BEGIN Security Headers
Header always set Referrer-Policy: no-referrer-when-downgrade
Header always set Content-Security-Policy "default-src 'self' data:; style-src 'self' https://fonts.googleapis.com; font-src 'self' data: https://fonts.gstatic.com"
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-Xss-Protection "1; mode=block"
Header always set X-Content-Type-Options "nosniff"
# END Security Headers
