
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# BEGIN Security Headers
Header set Referrer-Policy: no-referrer-when-downgrade
Header set Content-Security-Policy "default-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com"
# END Security Headers
